*.suo
*.csproj
BattleField/StyleCop.Cache
BattleField/Tests/Properties/AssemblyInfo.cs
BattleField/bin/Debug/BattleField.vshost.exe
BattleField/bin/Debug/BattleField.vshost.exe.manifest
BattleField/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BattleField/BattleField.rar
BattleField/bin/Debug/BattleField.exe
BattleField/bin/Debug/BattleField.exe.config
BattleField/bin/Debug/BattleField.pdb
BattleField/bin/Debug/BattleField.vshost.exe.config
BattleField/obj/x86/Debug/BattleField.csproj.FileListAbsolute.txt
BattleField/obj/x86/Debug/BattleField.csprojResolveAssemblyReference.cache
BattleField/obj/x86/Debug/BattleField.exe
BattleField/obj/x86/Debug/BattleField.pdb
BattleField/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BattleField/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BattleField/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
